

/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
	}

	.icon:hover {
		@include icon;
		border-bottom: none;
		position: relative;
		color: black;

		> .label {
			display: none;
		}
	}
