@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
.box {
  border: 0;
  border-bottom: 1px solid white;
  grid-gap: 30px;
}



.pic-top {
  position: absolute;
  top: 30%;
  left: 0;
}

.tex-combination {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

iframe {
  border-radius: 15px;
  height: 400px;

}

iframe:hover {
  opacity: 100%;
}

@media (max-width: 850px) {
  .box {
    grid-template-columns: 1fr;
  }
  iframe{
    height: 250px;
  }
}
